
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h4 class=" card-title">Liste des Devis</h4>

          <div ngbDropdown>
            <form  class="form-inline waves-light" mdbWavesEffect>
              <div class="md-form mt-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
              </div>
              <button class=" btn btn-inline-dnger" type="button"  ngbTooltip="Ajouter" container="body" (click)="newDevis()">
                <i class=" tim-icons icon-simple-add"> </i>
              </button>
              <button class=" btn btn-inline-dnger" type="button"  ngbTooltip="PDF" (click)="generatepdf()">
                <i class=" tim-icons icon-cloud-download-93"> </i>
              </button>
            </form>

              <div
                aria-labelledby="dropdownMenuLink"
                class=" dropdown-menu-right"
                ngbDropdownMenu
              >

              </div>

            </div>
        </div>
        <div class=" card-body">
          <div class=" table-responsive">
            <table class=" table tablesorter" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Date DE CREATION</th>
                  <th>CLIENT</th>
                  <th>TOTALE TTC</th>
                  <th>TOTALE HT</th>
                  <th class="text-center">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let devis of devisList">
                  <td class="hidden"> {{devis.Id}} </td>
                  <td> {{devis.dateLivraison | date:'dd/MM/yyyy'}} </td>
                  <td> {{devis.Client}} </td>
                  <td> {{devis.Artcle}} </td>
                  <td> {{devis.PrixTotal}} </td>
                  <td class="text-center">
                    <div>
                    <button class=" btn btn-link" type="button" placement="left" ngbTooltip="Edit" container="body" (click)="onSelect(devis)">
                      <i class=" tim-icons icon-pencil"> </i>
                    </button>
                    <button class=" btn btn-link" placement="left" ngbTooltip="Delete" (click)="onDelete()">
                      <i class=" tim-icons icon-trash-simple"> </i>
                    </button>
                  </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
