<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header"><h3 class="title">Details du produit</h3>

          <div class="button-row">
            <a class="title" class="disabled" color="" [routerLink]="['/produits']"><button class="btn btn-danger btn-link">Liste</button></a>/  Details
          </div>
  </div>
        <div class="card-body">
          <form>
            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Réference </label>
                  <input
                    class=" form-control"
                    disabled=""
                    type="text"
                    value="{{produit.reference}}"
                  />
                </div>
              </div>
              <div class=" col-md-4 px-md-1">
                <div class=" form-group">
                  <label> Désignation </label>
                  <input
                    class=" form-control"
                    disabled=""
                    type="text"
                    value="{{produit.designation}}"

                  />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <label for="exampleInputEmail1">Prix HT</label>
                  <input
                    class=" form-control"
                    disabled=""
                    type="text"
                    value="{{produit.prix}}"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> TVA </label>
                  <input
                    class=" form-control"
                    disabled=""
                    type="text"
                    value="{{produit.tva}}"

                  />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <label> Unité </label>
                  <input
                    class=" form-control"
                    disabled=""
                    type="text"
                    value="{{produit.unite}}"

                  />
                </div>
              </div>

              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Categorie </label>
                  <input
                    class=" form-control"
                    disabled=""
                    type="text"
                    value="{{produit.categorie}}"

                  />
                </div>
              </div>
            </div>


            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">

                  <label> Description </label>
                  <textarea
                    class=" form-control"
                    cols="80"
                    rows="4"
                    disabled=""
                    type="text"
                    value="{{produit.description}}"
                  s></textarea
                  >
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
    <div class="col-md-12">
      <div class="card card-img">
        <div class=" card-header">
            <div class="button-row">
    <a mat-flat-button color="disabled"> <mat-icon>image</mat-icon></a>
              </div>
        </div>
        <div class="card-body">
          <img height="20%" width="20%" alt="..." src="assets/img/emilyz.jpg"/>

        </div>


      </div>

    </div>
  </div>
</div>
